.tools {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 200px;
}

.tools__title {
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 130%;

    text-align: center;

    color: var(--white2);
}

.tools__subtitle {
    max-width: 428px;
    margin: 25px 0 106px;

    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    text-align: center;

    color: var(--gray);
}

.tools__list {
    display: flex;
    gap: 94px 24px;
    width: 100%;

    flex-wrap: wrap;
    margin-bottom: 100px;
}

.btn-more {
    padding: 16px 38px;

    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;

    color: #ff6e30;
    background: #1e252b;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}

.btn-more:hover {
    cursor: pointer;
    color: #1e252b;
    background: #ff6e30;
}

@media (max-width: 1120px) {
}
